
body {
    padding: 2em;
    background-color: white;
    color: black;
    margin: 2;
    padding: 0;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }


  .icons-dark-mode {
      fill: white;
  }


/* Navigatie */

nav {
   height: 4em;
/* specifieke hoogte van navbar op og site */
}

ul{
    display: flex; 
    overflow: scroll;
    list-style: none;

    margin: 0;
    align-items: center;
    
}

body > header > nav > ul > li:nth-of-type(1) {
    flex-grow: 1;
    /* zorgt ervoor dat deze altijd links staat en de andere li's rechts */
}

body > header > nav > ul > li:nth-of-type(1) > svg {
    height: 3em;
    width: 4em;
    /* grootte van nike logo op og website */
    padding: 0;
}

/* styling voor de a's in het hamburger menu */
body > header > nav > ul > li > ul > li > a {
    font-size: 1em;
    line-height: 1em;
    word-spacing: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

body > header > nav > ul > li > ul > li{
    margin: 1em 0;
}


/* kruis icoon dmv ::before en ::after elementen.*/
body > header > nav > ul > li > ul > li:first-of-type{
    position: absolute;
    width: 1em;
    height: 1em;
    top: 1em;
    left: 1em;
    margin: 0;
}

body > header > nav > ul > li > ul > li:first-of-type::after{
    content: "";
    background-color: black;
    width: 2px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    transform: rotate(-45deg);
}

body > header > nav > ul > li > ul > li:first-of-type::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: black;
    top: 0;
    left: 0;
    transform: rotate(45deg);
}

/* --- */


body > header > nav > ul > li > ul{

    list-style: none;
    flex-direction: column;
    opacity: 0;
    padding-top: 1em;
    opacity: 0;
    transform: translateX(-200%);
    position: fixed;
    left: 30%;
    right: 0;
    top: 0;
    bottom: 0%;
    background-color:white;
    
    
}

body > header > nav > ul > li:not(:first-of-type) {
    margin: 0 .3em;
    /* ruimte tussen de li's, behalve de eerste */
}

body > header > nav > ul > li > svg {
    width: 24px; 
    padding: 8px;
    /* dat is de grootte die ze op de og website ook gebruiken */
}

.icon {
    padding: 0.5em;
}


.visible {
    opacity: 1;
  transform: translateX(0%);
  z-index: 100;
  
}

.visible-text {
    color: black;
}

/* Foto's */

.Foto {
    height: 27em;
}

.Foto1 { 
    height: 29em;
    display: flex;
    justify-content: center;
    margin: 1.1em;
    padding: 1em;
    
}


/* Tekst */

main > section > p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   line-height: 1em;

} 

h1{
    font-size: 3em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style:inherit;
    text-shadow:inherit;
    text-decoration:initial;
    text-transform:initial;
    text-align: center;
}
 

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


h3{
    font-size: 2em ; 
    font-family:Helvetica, sans-serif ;
}

h4{
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 1em;
    word-spacing: 0.1em;
}

h5
{ 
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter
}
.OverlayTekst{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    word-spacing: 0.1em;
    position: relative;
    bottom: 9em;
    left: 1em;
    color: white;
}

main p :nth-child(9)
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* Buttons */

main > section:first-of-type button{

background-color: black;
font: medium;
color: white;
font-size: 1em;
padding: 1em;
border-radius: 5em;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 10px;
}

header > nav > ul button {
    border: none;
    background-color: transparent

}

.sizesSection button {
    bottom: 0mm;
    color:black;
    border-radius: 0mm;
background-color: white;
border:solid 1px;
}

section > button {
    color: black;
    background: white;
    position: relative;
    bottom: 10em;
    border: none;
    padding: 1em;
    margin: 0.5em;
    font-size: 1em;
    border-radius: 5em;
}

a { list-style: none;
color: white;}

button {
    background-color: black;
font: medium;
color: white;
font-size: 0.9em;
padding: 1em;
border-radius: 5em;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0.5em;
}



/* Footer */




.Footer2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    color: white;
}


.Footer{
    display: flex;
    align-items: flex-end;
    bottom: 0mm;
}

/* Sshop pagina */

div > button {
    color:white;
    background: black;
    position: relative;
    bottom: 10em;
    border: none;
    padding: 1em;
    margin: 0.5em;
    font-size: 1em;
    border-radius: 5em;

}

main > section > p {
    align-items: center;
    justify-content: center;
}

article > p
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: 27px;
}

main  section :nth-child(2) button{
    background-color: red;
    font: medium;
    color: white;
    font-size: 15px;
    padding: 1em;
    border-radius: 5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;

}

footer section ul {
    margin-top: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 0%;
    margin-right: 15%;

}

footer > nav > ul > li > a {
    font-size: 16px;
    line-height: 1em;
    word-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-decoration: none;
    margin-top: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 0%;
    margin-right: 15%;
}


